.docs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
    @include media($size3) {
        height: 570px;
    }
    @include media($size4) {
        height: 700px;
    }
    @include media($size5) {
        height: 750px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media($size3) {
            margin: 0 10px;
            text-align: center;
        }
        @include media($size4) {
            margin: 150px auto 0;
            display: inline-block !important;
        }
    }
    &__item {
        display: flex;
        max-width: 400px;
        margin-right: 75px;
        @include media($size1) {
            margin-left: 40px;
        }
        @include media($size3) {
            margin: 0 auto;
            display: block;
            &:first-child {
                margin-left: -45px;
                @include media($size4) {
                    margin-left: 0;
                }
            }
            &_pic {
                display: inline-block;
                text-align: justify;
                margin-left: 0;
            }
            &:last-child {
                margin-right: 40px !important;
            }
        }
        &_pic {
            @include media($size1) {
                margin-left: 40px;
                margin-bottom: 10px;
            }
        }
        &_text {
            margin-left: 30px;
            &_title {
                color: #000;
                font-size: 27.35px;
                font-weight: 600;
            }
            &_par {
                color: #4f4e4e;
                font-size: 14px;
                @include media($size4) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    margin-top: -30px;
    margin-bottom: 30px;
    @include media($size5) {
        margin-bottom: 5px;
    }
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    margin-left: 35px !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $green;
}