 .press__block {
     position: absolute;
     background: #fff;
     left: 50%;
     transform: translate(-50%, -66%);
     width: 335px;
     z-index: 999;
     text-align: center;
     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
     @include media($size4) {
         width: 280px;
     }
 }
 
 .form__press_decor_img {
     @include media($size4) {
         width: 280px;
     }
 }
 
 .form__input_text_press {
     width: 265px !important;
     margin: 30px 0 !important;
     border-radius: 3px;
     @include media($size4) {
         width: 250px !important;
     }
 }
 
 .form__desc {
     font-size: 15.35px;
     color: #a39f9f;
     width: 225px;
     margin: 27px auto;
 }
 
 .form__press_submit {
     text-transform: uppercase;
     font-size: 25.65px;
     background: rgba(34, 125, 211, 0.85);
     color: #fff;
     font-weight: 600;
     outline: none;
     border: 1px solid transparent;
     padding: 5px 35px;
     margin-bottom: 30px;
     transition: all .3s;
     &:hover {
         background: rgba(34, 125, 211, 1);
     }
     &:active {
         background: rgba(0, 91, 166, 1);
     }
 }
 
 .has-error {
     background-color: #fad2d1 !important;
 }
 
 .qtip-mystyle {
     background-color: #f97e76;
     border-color: #f97e76;
     border-radius: 50% !important;
     min-width: 20px !important;
     height: 20px !important;
     &:before {
         content: "x";
         position: absolute;
         font-size: 13px;
         top: 50%;
         left: 50%;
         transform: translate(-40%, -55%);
     }
 }
 
 .qtip-tip {
     display: none !important;
 }